@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Somos Ángeles Croxatto y Andrés, dos hermanos en Madrid. Desde pequeños interesados en el mundo del arte.
    Allá por el año 2009, con muchas ganas de hacer algo para ofrecer nuestros productos a más gente,
    vimos la oportunidad de asociarnos, combinando los conocimientos artísticos de Ángeles y la experiencia
    en Web y Marketing de Andrés. En ese momento comenzó el proyecto Todocuadros.com.
</p>
<p>
    En el principio hubo muchísimo trabajo y poquísimas ventas, como en todo negocio levantado
    desde cero (se supone). Comenzamos ofreciendo una pequeña colección de posters que pronto
    se amplió con el catálogo de obras originales y reproducciones al óleo.
</p>
<p>
    Poco a poco las recompensas fueron llegando y hoy nos dedicamos a organizar nuestro propio
    equipo de pintores, para atender a todos los pedidos. Para no perder los orígenes,
    Ángeles Croxatto sigue personalmente pintando, tiene su propia sección dentro de la tienda.

</p>
<p>
    La atención al cliente y la garantía de satisfacción, son pilares fundamentales de nuestro negocio. 
    No queremos clientes descontentos, por ello ofrecemos respuesta rápida, damos atención personalizada
    y lo más importante: ofrecemos garantía de devolución de dinero de 30 días, sin preguntas.
</p>
<p>
    La confianza que tenemos en la calidad de nuestros cuadros nos permite trabajar en esta línea.
</p>
<p>
    Te invitamos a ver las novedades que ofrecemos continuamente con las últimas tendencias en arte
    y decoración. Esperamos contar contigo como cliente en un futuro próximo!
</p>
<p>
    Saludos,
    El Equipo de TodoCuadros.com
</p>


