@{
    ViewBag.Title = "Contact";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <span>Contacto</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Información de contacto</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> Dirección</h6>
                                <p>160 Pennsylvania Ave NW, Washington, Castle</p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> Teléfono</h6>
                                <p><span>125-711-811</span><span>125-668-886</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> Consultas</h6>
                                <p>mcga.norte.equipo4@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>ENVIAR MENSAJE</h5>
                        <form action="#">
                            <input type="text" placeholder="Nombre">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Sitio web">
                            <textarea placeholder="Mensaje"></textarea>
                            <button type="submit" class="site-btn">Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0167125041007!2d-58.3815704!3d-34.603738899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1598206551657!5m2!1ses!2sar"
                            height="780" style="border:0" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->