<a class="carousel-control-prev" href="#carouselPrincipal" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
</a>
<a class="carousel-control-next" href="#carouselPrincipal" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
</a>