<div class="modal fade" id="nosMudamos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h4 class="modal-title">Nos mudamos</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class="font-weight-bold">Clinica Alejandria, </span>
                    les informa que ya contamos con nuestros nuevos consultorios. 
                </p>
                <p class="font-weight-light">
                    Av. 9 de Julio 2409, CABA, Provincia de Bs. As.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>