@using ArtMarket.Entities.Model
@model IList<ArtMarket.Entities.Model.Order>
@{
    ViewBag.Title = "Lista de ordenes";
}

<div class="order-form form-dialog" style="margin:20px auto;">
    <h2 style="padding-bottom:10px">Listado de Ordenes</h2>
    <table class="table" style="text-align:center;">
        <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th colspan="1">Acciones</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        @foreach (Order order in Model)
        {
            <tr>
                <td> @order.OrderNumber</td>
                <td> @order.OrderDate</td>
                <td> @order.ItemCount</td>
                <td> @order.TotalPrice</td>
                <td>
                    <a href="/Order/Details/@order.Id">
                        <img class="icon-individual" src="~/Content/Images/file.icon.png" />
                    </a>
                </td>
            </tr>
        }

    </table>
</div>