<div id="datosGuardados" class="alert alert-fijo alert-success" role="alert" style="display:none;">
    <span class="font-weight-bold">Datos </span>, se guardaron correctamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>