<div id="turnoGenerado" class="alert alert-fijo alert-success" role="alert" style="display:none;">
    <span class="font-weight-bold">Turno registrado </span>, el turno ha sido registrado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>