<div id="turnoCancelado" class="alert alert-fijo alert-success" role="alert" style="display:none;">
    <span class="font-weight-bold">Turno cancelado </span>, el turno ha sido cancelado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>